
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<d1>
    <dt>Name</dt>
    <dd>Ugo Forsblom</dd>
    <dt>Adress</dt>
    <dd>Nederled Smedgård 2 Rydaholm</dd>
    <dt>email</dt>
    <dd>ugojnr@yahoo.com</dd>
    <dt>Phonenumber</dt>
    <dd>00234419419</dd>
    <dt>Qualifications</dt>
    <dd>MSc,BSc,NCE,</dd>
</d1>

