
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<form  asp-action=" Contact" asp- controller="Home"method="post">
    <input type="text"value=""name="name"placeholder=" name"/>
    <input type="text"value=""name="phone"placeholder=" phone"/>
    <input type="text"value=""name="email"placeholder="email"/>
    <textarea name="YourMessage"></textarea>  

    <button type="submit">Send</button>
      </form> 


