@{
    ViewBag.Title = "index";
 }


<h1>Not Yet Where I Want To Be</h1>
<p>This page was created from home Index View</p>
<p>Doing everything i can to understand</p>
<p>Bought a new computer</p>
<p>Downloaded 2019 visual studio Community </p>
<p>This whole weekend is dedicated to training </p>