
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<h2>My First Assignment</h2>

<p>My first project in this program is c#</p>
<p>Never have been involved with such codes. Was mind buggling </p>
<p>But i could understand the first assignment</p>
<p>I called the first assignment "My First Console App Assignment"</p>
<p>And this is the link:https://github.com/UgoForsblom/newindexfolder.git</p>

<h3>My Second Assignment</h3>
<p>Called my second assignment "mysecondconsoleappassign"</p>
<p>Was pretty easy to understand</p>
<p>More of a follow up from the first assignment</p>
<p>And here comes the link:https://github.com/UgoForsblom/IndexFolder.git  </p>

<h4>The Hangman Assignment</h4>
<p>Thought at that level of information we had, its supposed to be a final project</p>


